.settings
*.zip
*.bak
*.log
Servers
.metadata
.project
RemoteSystemsTempFiles
procurement-account-domain/.settings
procurement-account-domain/.classpath
procurement-account-domain/.project
procurement-account-domain/*.log
procurement-account-domain/target/
procurement-account-domain/.metadata
procurement-base-domain/.settings
procurement-base-domain/.classpath
procurement-base-domain/.project
procurement-base-domain/*.log
procurement-base-domain/target/
procurement-base-domain/.metadata
procurement-catalog-domain/.settings
procurement-catalog-domain/.classpath
procurement-catalog-domain/.project
procurement-catalog-domain/*.log
procurement-catalog-domain/target/
procurement-catalog-domain/.metadata
procurement-identity-domain/.settings
procurement-identity-domain/.classpath
procurement-identity-domain/.project
procurement-identity-domain/*.log
procurement-identity-domain/target/
procurement-identity-domain/.metadata
procurement-contract-domain/.settings
procurement-contract-domain/.classpath
procurement-contract-domain/.project
procurement-contract-domain/*.log
procurement-contract-domain/target/
procurement-contract-domain/.metadata
procurement-quotation-domain/.settings
procurement-quotation-domain/.classpath
procurement-quotation-domain/.project
procurement-quotation-domain/*.log
procurement-quotation-domain/target/
procurement-quotation-domain/.metadata